body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}

.container{
    margin: 0 auto;
    max-width: 1280px;
}


.gallery{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.search-item{
    max-width: 360px;
    border: 1px solid #808080;
}

.search-item-text-wrap {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.search-item-text h2 {
    font-size: 12px;
}
.search-item-text p {
    font-size: 12px;
}